.logo{
    width: 30%;
}

.card {
  margin: 5px; /* Espaço entre cards */
}

.card-img-top {
  margin-top: 10px; /* Espaço entre imagem e topo do card */
  border-radius: 8px; /* opcional, só pra deixar mais bonito */
}
